.MuiAlert-message {
  font-size: .875rem; /* Adjust the font size as needed */
}

/* Final p tag in a alert doesn't have margin bottom */
.MuiAlert-message :last-child {
    padding-bottom: 0;
}

/*
    Can be used like so to bold the numbers of the list below

    <div className="boldOrderedListBelow" />

    1. **Who can use BadgerCompute?**
*/
.boldOrderedListBelow + ol li::marker {
  font-weight: bold;
}

/*
 Enables images based on color mode
 */
@media (prefers-color-scheme: dark) {
    img[mode="light"] {
        display: none;
    }
}

@media (prefers-color-scheme: light) {
    img[mode="dark"] {
        display: none;
    }
}